.footer
  width: calc(100dvw - 2*$margin4)
  height: calc(100dvh - $margin1 - $margin4)
  background-color: rgba($secondary-color, 0.6)
  padding: $margin4
  padding-bottom: $margin1

.footerTitle
  height: 15%
  h1
    margin-bottom: $margin1

.footerContact
  height: 70%
  display: flex
  justify-content: center
  flex-direction: column

.footerContactSvg
  display: flex
  justify-content: center
  flex-direction: column
  left: calc(50% - 180px)
  &:hover
    transform: scale(1.1)

.footerContactSvg
  display: flex
  position: absolute
  margin: auto
.svgFooter
  position: absolute
  height: auto
  width: 550px
  margin-left: -$margin3 - $margin2

.footerBase
  height: 15%
  display: flex
  align-items: center
  justify-content: space-between
  margin: 0 $margin3

.linked
  &:hover
    transform: scale(1.1)
    .svgLinked
      display: flex
.svgLinked
  position: absolute
  display: none
  margin-top: -$margin3
  margin-left: -$margin3

.github
  &:hover
    transform: scale(1.1)
    .svgGithub
      display: flex
  &:hover
    transform: scale(1.1)
    .svgLinked
      display: flex
.svgGithub
  position: absolute
  display: none
  margin-top: -$margin3
  margin-left: -$margin3

@media only screen and (max-width: 900px)
  .footer
    width: calc(100dvw - 2*$margin2)
    height: calc(100dvh - $margin2)
    background-color: rgba($secondary-color, 0.6)
    padding: $margin2
    padding-bottom: $margin1
  .footerContactSvg
    margin-left: $margin3
  .svgFooter
    width: 400px
    margin-left: -$margin3 - $margin2
  .footerBase
    height: 8%
    margin-left: $margin1
  .footerTitle
    height: auto
    margin-top: $margin3
  .svgLinked,
  .svgGithub
    width: 100px
    margin-left: -$margin1
    margin-top: -$margin2 - $margin1
