/* Process Section */
.ProcessSection
  box-shadow: inset 0 200px 100px -200px #cccccc, inset 0 -200px 50px -200px rgba($secondary-color, .6)
  width: 100dvw
  height: auto

.processTitle
  padding-top: $margin4
  margin-left: $margin4

.processSteps
  margin-left: $margin4
  width: clamp(700px, 70dvw, 1250px)
  display: flex
  margin-top: $margin2
  flex-direction: column
  justify-content: space-between
  padding-bottom: $margin4

.step
  display: flex
  align-items: flex-end
  justify-content: center
  margin-top: $margin2
  margin-bottom: $margin2
  padding: $margin2
  transition: .4s ease
  background: rgba(255, 255, 255, 0.38)
  border-radius: 16px
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
  backdrop-filter: blur(4px)
  -webkit-backdrop-filter: blur(4px)
  border: 1px solid rgba(255, 255, 255, 0.64)
  h2
    width: clamp(90px, 25%, 185px)
    min-width: clamp(90px, 25%, 185px)
    word-wrap: break-word
    margin-right: $margin2
  &:hover
    transform: scale(1.1)
    cursor: pointer
    background: rgba($secondary-color, 0.2)
  &:not(:last-child)::after
    content: ''
    position: absolute
    top: 100%
    left: 50%
    height: 64px
    width: 3px
    background-color: $secondary-color
    transform: translate(-50%, 0)

@media only screen and (max-width: 900px)
  .processTitle
    margin-left: $margin2
    padding-top: $margin3 + $margin2
  .processSteps
    margin-left: $margin2
    width: clamp(200px, 85dvw, 700px)
  .step
    flex-direction: column
    align-items: flex-start
    h2
      width: clamp(90px, 75%, 185px)
      min-width: clamp(90px, 75%, 185px)
      word-wrap: break-word
      margin-right: $margin2
      margin-bottom: $margin1
    &:hover
      transform: scale(1.1)
      cursor: pointer
      background: rgba($secondary-color, 0.2)
    &:not(:last-child)::after
      content: ''
      position: absolute
      top: 100%
      left: 50%
      height: 64px
      width: 3px
      background-color: $secondary-color
      transform: translate(-50%, 0)
