// Parent slider container
.slider
  margin-top: 10dvh
  margin-bottom: 10dvh
  display: flex
  justify-content: space-between
  position: relative
  width: 100%
  max-width: 600px
  border: 1px solid black
  border-radius: 30px
  padding: 5px
  background: none
  overflow: hidden // Prevent overflow

  --active-index: 0 // Initial state

  &::before
    content: ''
    position: absolute
    top: 5px
    bottom: 5px
    left: 0
    margin-left: 15px
    width: calc(33.33% - 10px) // Adjust width for three buttons
    background-color: lighten($secondary-color, 20)
    border-radius: 25px
    z-index: 0
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.3s ease-in-out
    transform: translateX(calc(var(--active-index) * 100%))
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2)

// Individual buttons
.sliderItem
  flex: 1
  text-align: center
  background: none
  border: none
  font-size: 1.2rem
  font-weight: bold
  padding: 10px
  position: relative
  cursor: none

  &:hover
    transform: scale(1.1) rotate(1deg)
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55)

  &.active
    color: $primary-white // Ensure text contrast with sliding background
    transition: color 0.5s ease-in-out // Add transition for color change

.sliderContainer
  width: 100%
  display: flex
  justify-content: center

// Skills section styling
.skillsSection
  height: auto

.skillsTitle
  padding-top: $margin4
  margin-left: $margin4

.skillsGrid
  display: flex
  flex-wrap: wrap
  gap: 30px
  padding: 10px
  justify-content: center

.skillCategory
  display: flex
  width: 80dvw
  flex-wrap: wrap
  gap: 10px
  justify-content: center
  margin-bottom: 40dvh

.skillLink
  text-decoration: none // Reset default link underline

.skillCard
  display: flex
  align-items: center
  justify-content: center
  padding: 12px 24px
  background-color: transparent
  border: 1px solid rgba(0, 0, 0, 0.1)
  border-radius: 100px // Pill shape
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease

  h3
    margin: 0
    font-size: 1.1rem
    font-weight: 500
    color: #111
    transition: color 0.3s ease

.skillLink:hover
  cursor: none
  .skillCard
    background-color: #111
    border-color: #111
    box-shadow: 6px 6px 0px #1a57ba

    h3
      color: #fff

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0

@media only screen and (max-width: 900px)
  .skillsTitle
    margin-left: $margin2
    padding-top: $margin3 + $margin2

  .slider
    margin: $margin2
    width: calc(100% - 2 * #{$margin2})

  .skillCard
    padding: 10px 20px

    h3
      font-size: 1rem
