.UniqueSection
  height: 110dvh
  width: 100dvw
  background-color: rgba($secondary-color, 0.6)


.uniqueTextContainer
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  height: 70dvh
  width: 100dvw


.uniqueText
  width: 50dvw

.uniqueTitle
  padding-top: $margin3 + $margin3
  margin-left: $margin4

@media only screen and (max-width: 900px)
  .uniqueTitle
    margin-left: $margin2
    padding-top: $margin3 + $margin2
  .uniqueText
    width: 80dvw
    margin-left: $margin2
    margin-top: $margin2
  .uniqueTextContainer
    height: 60dvh
  .UniqueSection
    height: 100dvh
