.UniqueSection
  height: 100dvh
  width: 100dvw
  background-color: rgba($secondary-color, .6)


.uniqueTextContainer
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  height: 60dvh
  width: 100dvw


.uniqueText
  width: 50dvw

.uniqueTitle
  padding-top: $margin4
  margin-left: $margin4
